{% extends "./layout.html" %}
{% block style %}
<style>
    .ck-editor__editable{
        height:300px
    }
</style>
{% endblock %}
{% block content%}
    
    
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
           
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <h2>{{title}}</h2>
                <form name="form" method="post" action="/admin/setting" onsubmit="return formCheck()">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="company" name="company" value="{{row.company}}" placeholder="회사명" required>
                        <label for="floatingInput">회사명</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="com_ceo" name="com_ceo" value="{{row.com_ceo}}" placeholder="대표명" required>
                        <label for="floatingInput">대표명</label>
                    </div>
                    <div class="input-group form-floating mb-3">
                        <input type="text" class="form-control" id="post_code" name="post_code" value="{{row.post_code}}" placeholder="우편번호" readonly>
                        <label for="floatingInput">우편번호</label>
                        <span class="input-group-text" onclick="sample2_execDaumPostcode()" style="cursor:pointer">우편번호찾기</span>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="address" name="address" value="{{row.address}}" placeholder="주소"  readonly>
                        <label for="floatingInput">주소</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="address2" name="address2" value="{{row.address2}}" placeholder="주소" >
                        <label for="floatingInput">상세주소</label>
                    </div>
                    <!-- 다음 우편번호 찾기 레이어창 시작-->
                    <div id="layer1" style="display:none;position:fixed;overflow:hidden;z-index:99999;-webkit-overflow-scrolling:touch;width:100%;height:100%">
                        <div style="cursor:pointer;position:absolute;bottom:0px;width:100%;height:40px;background-color:#000;color:#fff;text-align:center;z-index:2;line-height:40px" onclick="closeDaumPostcode()">닫기</div>
                    </div>
                    <!-- 다음 우편번호 찾기 레이어창 끝-->
                    <div class="form-floating mb-3">
                        <input type="tel" class="form-control" id="com_tel" name="com_tel" value="{{row.com_tel}}" placeholder="연락처" >
                        <label for="floatingInput">연락처</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="tel" class="form-control" id="com_fax" name="com_fax" value="{{row.com_fax}}" placeholder="팩스번호" >
                        <label for="floatingInput">팩스번호</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="com_email" name="com_email" value="{{row.com_email}}" placeholder="이메일주소" >
                        <label for="floatingInput">이메일주소</label>
                    </div>
                    <p>회사소개</p>
                    <textarea id="com_info" name="com_info" style="height:300px">{{row.com_info}}</textarea>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="com_bizno" name="com_bizno" value="{{row.com_bizno}}" placeholder="사업자등록번호" >
                        <label for="floatingInput">사업자등록번호</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="com_networkno" name="com_networkno" value="{{row.com_networkno}}" placeholder="통신판매업번호" >
                        <label for="floatingInput">통신판매업번호</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="com_privacy" name="com_privacy"  style="height:300px">{{row.com_privacy}}</textarea>
                        <label for="floatingInput">개인정보처리방침</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="com_use_terms" name="com_use_terms"  style="height:300px">{{row.com_use_terms}}</textarea>
                        <label for="floatingInput">이용약관</label>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">설정하기</button>
                    </div>
                </form>
                
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div> 
{% endblock %}
{% block script %}
<script src="/js/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
	ClassicEditor
		.create( document.querySelector( '#com_info' ),{
            language:'ko',
            ckfinder:{
                uploadUrl:'/uploader/editor'
            },
            height:300
        })
		.then( editor => {
			window.editor = editor;
		})
		.catch( error => {
			console.error( 'There was a problem initializing the editor.', error );
		});
    // 우편번호 찾기 화면을 넣을 element
var element_layer = document.getElementById('layer1');
function closeDaumPostcode() {
        // iframe을 넣은 element를 안보이게 한다.
        element_layer.style.display = 'none';
    }

function sample2_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    
                
                } else {
                    
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('post_code').value = data.zonecode;
                document.getElementById("address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("address2").focus();

                // iframe을 넣은 element를 안보이게 한다.
                // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                element_layer.style.display = 'none';
            },
            width : '100%',
            height : '100%',
            maxSuggestItems : 5
        }).embed(element_layer);

        // iframe을 넣은 element를 보이게 한다.
        element_layer.style.display = 'block';

        // iframe을 넣은 element의 위치를 화면의 가운데로 이동시킨다.
        initLayerPosition();
    }

    // 브라우저의 크기 변경에 따라 레이어를 가운데로 이동시키고자 하실때에는
    // resize이벤트나, orientationchange이벤트를 이용하여 값이 변경될때마다 아래 함수를 실행 시켜 주시거나,
    // 직접 element_layer의 top,left값을 수정해 주시면 됩니다.
    function initLayerPosition(){
        var width = 300; //우편번호서비스가 들어갈 element의 width
        var height = 400; //우편번호서비스가 들어갈 element의 height
        var borderWidth = 5; //샘플에서 사용하는 border의 두께

        // 위에서 선언한 값들을 실제 element에 넣는다.
        element_layer.style.width =  '100%';
        element_layer.style.height =  '100%';
        element_layer.style.border = borderWidth + 'px solid';
        // 실행되는 순간의 화면 너비와 높이 값을 가져와서 중앙에 뜰 수 있도록 위치를 계산한다.
        element_layer.style.left = '0px';
        element_layer.style.top =  '0px';
        element_layer.style.marginTop = '0px';
        element_layer.style.padding='0px';
    }        
    function formCheck(){
        
    }        
</script>
{% endblock %}


    
</body>

</html>