{% extends "../../layout.html" %}
{% block style %}
<style>
    .ck-editor__editable{
        height:300px
    }
    a:hover{
        color:#333;
    }
    a{
        color:#333;
    }
</style>
{% endblock %}
{% block content%}
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid" style="background-color: #fff;">
                <h2>{{title}}</h2>
                <div class="" style="width:100%;text-align:right"><a href="/admin/{{bo_id}}/form" class="btn btn-warning">등록하기</a></div><br/>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th><input type="checkbox" name="all" id="all"></th>
                            <th>번호</th>
                            <th>제목</th>
                            <th>글쓴이</th>
                            <th>글쓴날짜</th>
                            <th>관리</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set i = 0 %}
                        {% set no = pageData.totalCount - pageData.skipSize %}
                        {% for row in row %}
                        <tr>
                            <td>
                                <input type="checkbox" name="chk[]" id="chk{{i}}" value="{{i}}">
                                <input type="hidden" name="id[{{i}}]" value="{{row.id}}">
                            </td>
                            <td>{{no}}</td>
                            <td>
                                <a href="/admin/{{bo_id}}/view/{{row.id}}">
                                    {{row.bo_subject}}
                                </a>
                            </td>
                            <td>{{row.user_name}}</td>
                            <td>{{row.createdAt.toString()}}</td>
                           
                            <td>
                                <a href="/admin/{{row.f_bo_id}}/form/?mode=update&id={{row.id}}">수정</a> / 
                                <a href="javascript:;" onclick="categoryRemove('{{row.id}}')">삭제</a>
                            </td>

                            
                        </tr>
                        {% set i = i + 1 %}
                        {% set no = no -1 %}
                        {% endfor %}
                    </tbody>
                </table>
                <!-- <button class="btn btn-danger" id="btn-remove" style="color:#fff">삭제</button> -->
                <!-- 페이징 시작-->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                      {% if 1 < pageData.pageStart %}
                      <li class="page-item disabled">
                        <a class="page-link" href="?page={{pageData.pageStart - 10 }}&field={{query.field}}&value={{query.value}}" tabindex="-1" aria-disabled="true">Previous</a>
                      </li>
                      {% endif %}
                      {% for page in range(pageData.pageStart-1,pageData.pageEnd) %}
                      {% if page < pageData.pageTotal %}
                      <li class="page-item {% if page+1 == pageData.page  %}active{% endif %}" {% if page+1 == pageData.page  %}aria-current="page"{% endif %}><a class="page-link" href="?page={{pageData.page+1}}&field={{query.field}}&value={{query.value}}">{{page+1}}</a></li>
                      {% endif %}
                      {% endfor %}
                      {% if pageData.pageEnd < pageData.pageTotal %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{pageData.pageEnd+1}}&field={{query.field}}&value={{query.value}}">Next</a>
                      </li>
                      {% endif %}
                    </ul>
                  </nav>
                  <button class="btn btn-danger" id="btn-remove" style="color:#fff">삭제</button>
                  <!-- 페이징 끝 -->
                  <div class="">
                    <form name="form" method="get" action="/admin/user_list">
                        <input type="hidden" name="page" value="{{page}}">
                        <div class="row">

                        <div class="col-4">
                            <select name="field" class="form-select">
                                <option value="bo_subject"{% if query.field === "bo_subject"%} selected {% endif%}>제목</option>
                                <option value="bo_content"{% if query.user_id === "bo_content"%} selected {% endif%}>내용</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <input type="text" name="value" value="{{query.value}}" class="form-control">
                        </div>
                        <div class="col-4">
                            <button class="btn btn-primary" type="submit">검색</button>
                        </div>
                        </div>
                    </form>
                  </div>
                 
                </div>
            </div>
            
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->

        </div> 
        
{% endblock %}
{% block script %}
<script>
    //전체체크하기 삭제할 때 필요함
    $(function(){
        $("#all").click(function(){
            $("input[type=checkbox]").prop("checked",($(this).prop("checked")));
        });
        $("#btn-remove").click(function(){
            if(confirm("체크한 게시물을 삭제하시겠습니까? 삭제하시면 복구는 불가능합니다.")){
                let idArr=new Array();
                for(let i=0;i<$("input[name='chk[]']").length;i++){
                    if($("input[name='chk[]']").eq(i).prop("checked")){
                        const no = $("input[name='chk[]']").eq(i).val();
                        idArr.push($(`input[name="id[${no}]`).val());
                    }
                }
                const params = {idx:idArr,mode:"list"};
                
                $.ajax({
                    url:"/admin/board_remove",
                    data:{ids:idArr.toString(),mode:"list"},
                    dataType:"json",
                    type:"post",
                    success:function(data){
                        if(data.success){
                            location.reload();
                        }
                    }
                })
            }
        });
    });
    //개별삭제하기
    function categoryRemove(id){
        if(confirm("삭제하시겠습니까? 삭제하시면 복구는 불가능합니다.")){
            $.ajax({
                url:"/admin/board_remove",
                data:{id:id},
                dataType:"json",
                type:"post",
                success:function(data){
                    if(data.success){
                        location.reload();
                    }
                }
            });
        }
    }
</script>
{% endblock %}