<footer>
    <div class="container">
        <div class="col-md-12 text-center">

            [{{info.company}}] <br/>
            대표자명 : {{info.com_ceo}} | 사업자등록번호 : {{info.com_bizno}}<br/>

            주소 : {{info.address}} {{info.address2}}<br/>

            Copyright ⓒ 2022 [{{info.company}}] All rights reserved

        </div>
    </div>
</footer>
<script src="/js/main.js"></script>
<script>
    let uuid=`{{ip}}`;
    console.log(uuid);
    alert(uuid);
    //자동로그인을 할 때 필요
    window.onload=function(){
        //아이피로 토큰값 비교해서 자동로그인을 할 수 있게
        $.ajax({
            url:"/app/auth/token",
            dataType:"json",
            type:"POST",
            data:{
                uuid:uuid
            },
            success:function(data){
                console.log(data);
                if(data.is_refresh){
                    location.reload();
                }
            }
        })
    }
</script>