<footer>
        <div class="col-md-12 text-center">
            [{{info.company}}] <br/>
            대표자명 : {{info.com_ceo}} | 사업자등록번호 : {{info.com_bizno}}<br/>

            주소 : {{info.address}} {{info.address2}}<br/>

            Copyright ⓒ 2022 [{{info.company}}] All rights reserved

        </div>
  
</footer>
<div class="footer-menu">
    <ul>
        <li><a href="/app"><div><i class="fas fa-home"></i></div><div>홈</div></a></li>
        <li>
            {% if user !== undefined and user.user_id !== undefined %}
            <a href="/app/mypage/service/list/ing"><div><i class="far fa-user"></i></div><div>내 예약</div></a>
            {% else %}
            <a href="/app/user/login"><div><i class="far fa-user"></i></div><div>로그인</div></a>
            {% endif %}
        </li>
        <li><a href="/app/more"><div><i class="fas fa-ellipsis-h"></i></div><div>더 보기</div></a></li>
    </ul>
</div>
<script src="/js/main.js"></script>
<script>
    let uuid=`{{ip}}`;
    //디바이스 아이디
    function setDeviceId(did){
        uuid=did;
		if($("#uuid")!=undefined){
			$("#uuid").val(did);
		}
		autoLogin();
    }
    //자동로그인을 할 때 필요
    window.onload=function(){
		if (navigator.userAgent.match(/zerovapp/i)){
		}else{
			autoLogin();
		}
    }
    //자동로그인을 할 때 필요
    function autoLogin(){
        //아이피로 토큰값 비교해서 자동로그인을 할 수 있게
        $.ajax({
            url:"/app/auth/token",
            dataType:"json",
            type:"POST",
            data:{
                uuid:uuid
            },
            success:function(data){
                console.log(data);
                if(data.is_refresh){
                    location.reload();
                }
            }
        });
    }
    //푸시 설정하기
    function setFcmToken(token,did){
        //아이피로 토큰값 비교해서 자동로그인을 할 수 있게
        $.ajax({
            url:"/app/set_fcm_token",
            dataType:"json",
            type:"POST",
            data:{
                deviceId:did,
                fcm_token:token,
                user_id:"{{user.user_id}}"
            },
            success:function(data){
            }
        });
    }
</script>