{% extends "./layout.html" %}
{% block style %}
<link rel="stylesheet" href="/css/swiper-bundle.min.css"/>
<style>
    #content img{
      width:100%
    }
</style>
{% endblock %}
{% block content%}
<div class="container" style="overflow-x:scroll" id="content">
    <div class="box-menu">
        <ul>
            <li onclick="location.href='/app/board/notice/list';"><i class="fas fa-exclamation"></i> 공지사항</li>
            <li onclick="location.href='/app/user/register?mode=update';"><i class="fas fa-user-cog"></i> 계정정보</li>
            <li onclick="alert('개인정보처리방침은 준비중입니다.')"><i class="fas fa-user-shield"></i> 개인정보 처리방침</li>
            <li onclick="alert('이용약관은 준비중입니다.')"><i class="fas fa-user-circle"></i> 이용약관</li>
            <li onclick="alert('알림설정은 준비중입니다.')"><i class="fas fa-cog"></i> 알림설정</li>
        </ul>
    </div>
</div>
{% endblock %}
{% block script %}

{% endblock %}