{% extends "./layout.html" %}
{% block style %}
<link rel="stylesheet" href="/css/swiper-bundle.min.css"/>
<style>
    #content img{
      width:100%
    }
</style>
{% endblock %}
{% block content%}
<div class="container" style="overflow-x:scroll" id="content">
    <div class="box-menu">
        <ul>
            <li onclick="location.href='/app/board/notice/list';"><i class="fas fa-exclamation"></i> 공지사항</li>
            <li onclick="location.href='/app/user/register?mode=update';"><i class="fas fa-user-cog"></i> 계정정보</li>
            <li onclick="location.href='/app/privacy';"><i class="fas fa-user-shield"></i> 개인정보 처리방침</li>
            <li onclick="location.href='/app/terms_use';"><i class="fas fa-user-circle"></i> 이용약관</li>
            <li onclick="location.href='/app/push_set';"><i class="fas fa-cog"></i> 알림설정</li>
            {% if user.user_level == 10 and user != undefined %}
            <li onclick="location.href='/admin';"><i class="fas fa-cog"></i> 관리자모드</li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
{% block script %}

{% endblock %}